
body {
	font-family: 'Netflix Sans', Arial, sans-serif;
	background-color: #141414;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

h1 {
	font-size: 3em;
	margin-bottom: 20px;
	color: #e50914;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="text"] {
	padding: 15px;
	font-size: 1.2em;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 400px;
	background-color: #333333;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
	padding: 15px 30px;
	font-size: 1.2em;
	color: #ffffff;
	background-color: #e50914;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover {
	background-color: #f40612;
}

@font-face {
	font-family: 'Netflix Sans';
	src: url('{{ url_for("static", filename="fonts/NetflixSans-Regular.woff2") }}') format('woff2'),
		 url('{{ url_for("static", filename="fonts/NetflixSans-Regular.woff") }}') format('woff');
	font-weight: normal;
	font-style: normal;
}
